{% extends "itreporting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>About Us</h1>
<h1> Award ratings and Rankings</h1>
<h2>2025</h2>
<p> Awarded the maximum five stars in the QS Stars excellense rating, achieving top marks in teaching, employability, facilities, innovation, environmental impact and global engagement</p>


<p>One of the top 20 universities in the uk, Student crowd awards</p>


<p> One of the top 10 universities in the UK for value for money, Student Crowd awards</p>


<p>Ranked within the top 10 universities on the planet and 3rd in the UK for our positive impact on reducing inequalities, The Times Higher Education Impact Rankings</p>

<h2> Contact us now to find out how you can be a part of our top rate University on: 0114 225 5555</h2>

{% endblock %}