{% extends "itreporting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Welcome to the module page</h1>
<ul>
{% for module in modules %}
    <li>
        <a href="{% url 'itreporting:module-detail' module.pk %}">
            {{ module.code }} – {{ module.name }}
        </a>
    </li>
    <ul>
    {% for reg in module.registration_set.all %}
        <li>
            {{ reg.student.user.get_full_name }}
        </li>
    {% empty %}
        <li>No students registered for this module.</li>
    {% endfor %}
    </ul>
{% endfor %}

{% endblock %}
